<h1>Ingresar datos</h1>
<br>

<form action="/items" method="post" name="items">

    <div class="form-group">
        <label for="nombre"><b>Nombre</b></label>
        <input type="text" id="nombre" name="nombre" class="form-control">
    </div>
    <div class="form-group">
        <label for="apellido"><b>Precio</b></label>
        <input type="number"  id="price" name="price" class="form-control">
    </div>
    <div class="form-group">
        <label for="edad"><b>Imagen</b></label>
        <input type="number" id="thumbnail" name="thumbnail" class="form-control">
    </div>
    <button class="btn btn-warning">Enviar</button>
    <button type="button" class="btn btn-info"><a href="../pages/historial.ejs" target="_blank">Lista de productos</a></button>
</form>
